<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Cocriar uma nova educação, um novo trabalho e novas relações humanas...">
  <title>epistema.com.br - cocriando uma nova educação, um novo trabalho e novas relações humanas</title>
</head>
<body>
  <section>
    <center>
      <h1>Cocriar uma nova educação, um novo trabalho e novas relações humanas...</h1>
        <p>É um grande desafio e precisaremos muito de sua ajuda!</p>
        <img src="img/vignesh-moorthy-115557.jpg" width="1024" alt="Photo by Vignesh Moorthy on Unsplash" />
        <br /><small>Photo by Vignesh Moorthy on Unsplash</small>
    </center>
  </section>
</body>
</html>
